<h2>
    <p-button label="Home" icon="pi pi-home" [routerLink]="[mainRoute]"></p-button>
    <span class="header">{{ dashboard.header }}</span>
</h2>

<div class="auto-complete-container">
    <p-autoComplete placeholder="Search" [(ngModel)]="selectedStock" [suggestions]="filteredStocks"
        (completeMethod)="search($event)"></p-autoComplete>

    <p-button label="Add" icon="pi pi-plus" (onClick)="add()"></p-button>
</div>

<p-toolbar *ngIf="stocks === undefined || stocks === null || stocks.length === 0;">
    <span>
        No Stocks are configured, search one and click on add.
    </span>
</p-toolbar>

<div *ngFor="let stock of stocks">
    <p-panel header="{{ stock.symbol }}">
        <app-line-chart [stockLiveData]="liveData"></app-line-chart>
    </p-panel>
</div>