<h2>
    <p-button label="Home" icon="pi pi-home" [routerLink]="[mainRoute]" (onClick)="unsubscribe()"></p-button>
    <span class="header">{{ dashboard.header }}</span>
</h2>

<div class="auto-complete-container">
    <p-autoComplete placeholder="Search" [(ngModel)]="selectedStock" [suggestions]="filteredStocks"
        (completeMethod)="search($event)"></p-autoComplete>

    <div *ngIf="stocks.length < 4">
        <p-button label="Add" icon="pi pi-plus" (onClick)="add()"></p-button>
    </div>
</div>

<p-toolbar *ngIf="stocks === undefined || stocks === null || stocks.length === 0;">
    <span>
        No Stocks are configured, search one and click on add.
    </span>
</p-toolbar>

<div *ngFor="let stock of stocks">
    <app-stock-view [stock]="stock"></app-stock-view>
</div>

<p-dialog header="Error" [(visible)]="errorDialogIsVisible">
    <p>This stock is already present in the dashboard.</p>
</p-dialog>