h2 {
    display: flex;
    align-items: center;

}

.header {
    margin-left: 20px;
}

.auto-complete-container {
    width: auto;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}