<div *ngFor="let page of pages; index as i">
    <p-button label="Go to: {{ page.header }}" [routerLink]="[pageNames[i]]"></p-button>
</div>


<div *ngIf="numberOfPages < 4">
    <p-button severity="success" label="Add new Page" (click)="showDialog()"></p-button>
</div>

<p-dialog class="container " header="Enter Pagename" [(visible)]="addNewPageDialogIsVisible">
    <div class="input">
        <input type=" text" pInputText [(ngModel)]="addNewPageDialogInputValue" [style]="{'width': '100%'}" />
    </div>


    <p-button severity="success" label="Add Page" (click)="save()"></p-button>
</p-dialog>